.leftbar {
    padding-top: 80.81px;
    position: fixed;
    height: 100vh;
    background-color: var(--bg-color);
    width: 300px;
    padding-top: 25px;
    overflow: hidden;
    transition: var(--transition-speed) ease;
    z-index: 99;
    margin-top: 61px;
}

.leftbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leftbar-icon-text {
    display: flex;
    align-items: center;
    color: #606060; 
    cursor: pointer;
    padding: 15px 25px;
    gap: 20px;
    white-space: nowrap;
    transition: background-color calc(var(--transition-speed) / 2) ease, color calc(var(--transition-speed) / 2) ease; /* Adicionando 'color' para transição suave */
    border-left: 5px solid transparent; 
    text-decoration: none;
}

.leftbar-icon-text:hover {
    background-color: #F7F8FA;
}

.leftbar-icon-text.active {
    border-left: 5px solid var(--blue, #0047B6); 
    color: #0047B6; 
}
