.navbar {
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-100);
}

.navbar .logo {
  width: 150px;
  cursor: pointer;
}

.navbar-menu {
  padding: 20px 4%;
  display: flex;
  list-style: none;
  gap: 20px;
  color: var(--black-bgr);
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.icon {
  max-width: 32px;
}

.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: var(--black-bgr);
  border: 1px solid var(--black-bgr);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar button:hover {
  background-color: var(--black-bgr);
  color: var(--white);
}

/* ESTILOS PARA OS LINKS (NavLink - tag 'a') */

.navbar-menu a {
  font-size: 15px;
  cursor: pointer;
  padding: 10px 15px;
  transition: .3s ease;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none; 
  color: var(--black-bgr); 
}

/* Regras que estavam em .navbar li:hover */
.navbar-menu a:hover {
  color: var(--white);
  background-color: var(--blue-button);
  border-radius: 10px;
}

/* Regra para o link ATIVO */
.navbar .active {
  color: var(--white);
  background-color: var(--blue-button);
  border-radius: 10px;
}

/* Regra que pode ser redundante se o display:flex estiver em '.navbar-menu a' */
.navbar-icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-search-icon {
  position: relative;
  cursor: pointer;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: var(--red-tomato);
  border-radius: 5px;
  top: -8px;
  right: -8px;
}