.footer {
    background-color: var(--blue-dark);
    max-width: 100%;
    padding: 0px 50px;
}

.footer-sup {
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 20%;
    padding: 60px 0px;
}

.footer-sup {
    font-size: 15px;
}

.footer-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: -30px;
}

.footer-low p {
    color: #dde4eb;
    font-size: 12px;
}

.footer-low ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
}

.footer-low ul li:hover {
    text-decoration: underline;
}