:root {
  --text-default: #000;

  --black-bgr: #101828;
  --white: #fff;

  --gray-100: #D2D2D2;
  --gray-200: #D2D2D2;

  --red-tomato: #ff6347;

  --blue: #0f6cbf;
  --blue-dark: #1d2939;

  --bg-color: #ECECEC;
  --text-color: #f0f0f0;
  --hover-bg-color: #1a2050;
  --active-bg-color: #2c357c;
  --transition-speed: 0.4s;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  color: var(--text-default);
}

main {
  contain: layout style; 
  overflow: auto;
  height: calc(100vh - 60px); 
}

a {
  text-decoration: none;
  color: inherit;
}