:root {
  --text-default: #000;

  --black-bgr: #101828;
  --white: #fff;

  --gray-100: #D2D2D2;
  --gray-200: #D2D2D2;

  --red-tomato: #ff6347;

  --blue-button: #0f6cbf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-default)
}

a {
  text-decoration: none;
  color: inherit;
}